/* ------------------------------------------------------------------------------- Generic Styles */
body {
	/* Removes tiny margin around the body. */
	margin: 0;
	padding: 0;
}
/* ------------------------------------------------------------------------------- Generic Styles */






/* ------------------------------------------------------------------------------- Navigation */
#navigation {
	/* Size */
	overflow: auto;
	
	/* Background */
	background-color: black;
	box-shadow: 2px 2px 2px 2px grey; 
}

	/* -------------------------------------------------- Logo -- */
	.navigation-logo {
		/* Positioning */
		float: left;
		
		/* Size */
		width: 20%;
		height: 100px;
	}
	
		.navigation-logo img {
			/* Size */
			height: 100px;
			
			/* Positioning */
			float: right;
			
			/* Content */
			transition: content 0.5s ease;
		}
	
	/* -------------------------------------------------- Title -- */
	.navigation-title {
		/* Positioning */
		float: left;
		
		/* Size */
		height: 100px;
		width: 15%;
		text-align: left;
	}
	
		.navigation-title a {
			/* Style */
			color: white;
		}
		
			.navigation-title  a p {
				/* Positioning */
				float: left;
				
				/* Style */
				font-size: 30px;
				font-family: 'Ubuntu';
				font-weight: bold;
				text-shadow: 1px 1px white;
			}
		
		/* -------------------------------------------------- Dropdown -- */
		.navigation-dropdown {
			/* Positioning */
			float: right;
			margin-right: 10%;
			
			/* Size */
			height: 100px;
			width: 300px;
		}
		
			.navigation-dropdown select {
				/* Positioning */
				margin-top: 25px;
				padding: 10px;
				
				/* Size */
				width: 200px;
				height: 50px;
				
				/* Background */
				background-color: transparent;
				
				/* Text Style */
				color: white;
				font-family: 'Ubuntu';
				
				/* Outline */
				border: 2px solid white;
				border-radius: 3px;
				
				/* Transition */
				transition: all 60s ease;
			}
			
			.navigation-dropdown select:hover {
				/* Background */
				background-color: white;
				
				/* Text Style */
				color: black;
				font-weight: bold;
				
				/* Transition */
				transition: all 0.4s ease;
				
				/* Cursor */
				cursor: pointer;
			}
			
				.navigation-dropdown option {
					/* Background */
					background-color: black;
					
					/* Text Style */
					color: white;
				}
			
			/* -------------------------------------------------- Button -- */
			.navigation-button {
				/* Positioning */
				float: right;
				
				/* Size */
				height: 100px;
				width: 120px;
			}
			
				.navigation-button button {
					/* Positioning */
					margin-top: 25px;
					
					/* Size */
					height: 50px;
					width: 150px;
					
					/* Outline */
					border: 2px solid white;
					border-radius: 3px;
					
					/* Background */
					background-color: transparent;
					
					/* Text Style */
					color: white;
					font-family: 'Ubuntu';
					transition: background-color 0.2s ease;
					
					/* Transition */
					transition: all 0.4s ease;
				}
				
				.navigation-button button:hover {
					/* Background */
					background-color: white;
					
					/* Text Style */
					color: black;
					font-weight: bold;
					
					/* Cursor */
					cursor: pointer;
					
					/* Transition */
					transition: all 0.4s ease;
				}
/* ------------------------------------------------------------------------------- Navigation */



/* ------------------------------------------------------------------------------- Content */
#content {  
	margin-top: 4px;
	overflow: auto;
}

    #content-box {
		width: 900px;
		margin-top: 20px;
		overflow: auto
}
/* ------------------------------------------------------------------------------- Content */




/* ------------------------------------------------------------------------------- Special Styling */


/* -------------------------------------------------- Text Highlighting -- */
/* Highlighting on Light Backgrounds */
.light-highlight {
	/* Background */
	background-color: black;
	
	/* Text Style */
	color: white;
	
	/* Size */
	padding-left: 3px;
	padding-right: 3px;
	
	/* Outline */
	border-radius: 2px;
}

/* Highlight on Dark Backgrounds */
.dark-highlight {
	/* Background */
	background-color: white;
	
	/* Text Style */
	color: black;
	
	/* Size */
	padding-left: 3px;
	padding-right: 3px;
	
	/* Outline */
	border-radius: 2px;
}



/* -------------------------------------------------- Text Markers -- */

/* Mark out a Website Feature/Feature of Company */
.bold {
	/* Style */
	font-weight: bold;
}
