---
layout: default
title: Posts
---

  <h2>Posts</h2>
  
  <div class="posts" style="align: left;">
    
  {% for post in site.posts %}{% capture day %}{{ post.date | date: '%d%m%Y' }}{% endcapture %}{% capture nday %}{{ post.next.date | date: '%d%m%Y' }}{% endcapture %}
    {% if day != nday %}
    <p class="date font-monospace"><a class="font-gray" name="{{ post.date | date: "%Y-%m-%d" }}" href="#{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</a></p>
    {% endif %}
      <p>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.description %}<br> <span class="font-small">{{ post.description }}</span>{% endif %}
      </p>{% endfor %}
  </div>
