{% for game in site.data.games %}
/* {{game[0]}} == {{game[1]}} */
.game-bg-{{game[0]}}{
  background-image: url("{{game[1].bg_img}}");
}
.game-bg-{{game[0]}}-fullsize{
  background-image: url("{{game[1].bg_img}}");
  transition: background-image 0.2s ease;
  background-size: 100%;
}
.game-title-content-{{game[0]}}-bf:before{
  content: "{{game[1].title}}";
}
.game-title-content-{{game[0]}}-af:after{
  content: "{{game[1].title}}";
}
{% endfor %}
