<div class="feed-news">
  <div id="feed-title">
    <p>News</p>
  </div>
<div>
{% for news in site.data.news %}
<div style="background-image: url('{{ news[1].title }}');" onclick="document.location.href='{{ news[1].link }}';">
  <p>{{ news[1].title }}</p>
  <p>{{ news[1].tagline }}</p>
</div>
{% endfor %}
