* {
}

    body {
    }

        div {
        }

            p {
            }

            a {
            }

        
                            /* -- Navigation -- */
                            #navi {
                                padding: 1%;
                            }
                                #navi:nth-child(1) {
                                    /* Empty */
                                }
                                #navi:nth-child(2) {
                                    /* Empty */
                                }
                                /* Split */
                                #navi img {
                                    /* Empty */
                                }
                                    #navi img:nth-child(1) {
                                        height: 3em;
                                        margin: 0.5em;
                                        margin-left: 1em;
                                    }
                                    #navi img:nth-child(3) {
                                        float: right;
                                        height: 3em;
                                        margin: 0.5em;
                                        margin-right: 2em;
                                    }
                                #navi p {
                                    display: none;
                                }

                            /* -- Slideshow -- */
                            #slidey {
                                /* Empty */
                            }
                                #slidey p {
                                    /* Empty */
                                }
                                    #slidey p:nth-child(1) {
                                        font-size: 5vh;
                                    }
                                    #slidey p:nth-child(2) {
                                        font-size: 2vh;
                                    }
                                #slidey button {
                                    padding: 7%;
                                    padding-bottom: 5%;
                                    padding-top: 5%;
                                    font-size: 2.5vh;
                                }       

                            /* -- Login -- */
                            #weap { 
                                padding: 10%;
                            }
                                #weap img {
                                    display: none;
                                }
                                #weap form {
                                    /* Empty */
                                }
                                    #weap form input {
                                        font-size: 3vh;
                                        margin-top: 2em;
                                        padding: 0.2em;
                                    }
                                        #weap form input:nth-child(1) {
                                            margin-top: 0;
                                        }
                                        #weap form input:nth-child(3) {
                                            /* Empty */
                                        }
                                        #weap form input:nth-child(5) {
                                            padding: 2em;
                                            padding-top: 0.5em;
                                            padding-bottom: 0.5em;
                                        }
                                    #weap form br {
                                        /* Empty */
                                    }


                            /* Feed */
                            #feed {
                                /* Empty */
                            }
                                #feed div {
                                    /* Empty */
                                }
                                    #feed div:nth-child(1) {
                                        /* Empty */
                                    }  
                                    #feed div:nth-child(2) {
                                        /* Empty */
                                    }
                                        #feed-box {
                                            /* Empty */
                                        }

                                            #feed-box div {
                                                /* Empty */
                                            }
                                                #feed-box div div {
                                                    /* Empty */
                                                }
                                                    #feed-box div div div {
                                                        /* Empty */
                                                    }
                                                        #feed-box div div div:nth-child(1) {
                                                            /* Empty */
                                                        }
                                                            #feed-box div div div:nth-child(1) p {
                                                                /* Empty */
                                                            }

                                                    /* News */
                                                    .feed-news {
                                                        /* Empty */
                                                    }
                                                        .feed-news div {
                                                            /* Empty */
                                                        }
                                                            .feed-news div:nth-child(1) {
                                                                /* Empty */
                                                            }
                                                                .feed-news div:nth-child(1) p {
                                                                    /* Empty */
                                                                }
                                                            .feed-news div:nth-child(2) {
                                                                padding-bottom: 30%;
                                                            }
                                                                .feed-news div:nth-child(2) p {
                                                                    /* Empty */
                                                                }
                                                                    .feed-news div:nth-child(2) p:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-news div:nth-child(2) p:nth-child(2) {
                                                                        /* Empty */
                                                                    }

                                                    /* Leaderboard */
                                                    .feed-leader {
                                                        /* Empty */
                                                    }
                                                        .feed-leader div {
                                                            /* Empty */
                                                        }
                                                            .feed-leader div:nth-child(1) {
                                                                /* Empty */
                                                            }
                                                            .feed-leader div:nth-child(2) {
                                                                /* Empty */
                                                            }
                                                                .feed-leader div:nth-child(2) button {
                                                                    opacity: 0.7;
                                                                }

                                                    /* Giveaways */
                                                    .feed-give {
                                                        /* Empty */
                                                    }
                                                        .feed-give div {
                                                            /* Empty */
                                                        }
                                                            .feed-give div div {
                                                                /* Empty */
                                                            }
                                                                .feed-give div div:nth-child(1) {
                                                                    /* Empty */
                                                                }
                                                                .feed-give div div:nth-child(2) {
                                                                    /* Empty */
                                                                }
                                                                    .feed-give div div p {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-give div div p:nth-child(1) {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-give div div p:nth-child(2) {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-give div div p:nth-child(3) {
                                                                            /* Empty */
                                                                        }

                                                            /* Players of the Week */
                                                            .feed-player {
                                                                /* Empty */
                                                            }
                                                                .feed-player div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-player div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-player div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-player div:nth-child(2) button {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-player div:nth-child(2) button:hover {
                                                                            /* Empty */
                                                                        }
                                                                            .feed-player div:nth-child(2) button img {
                                                                                /* Empty */
                                                                            }
                                                                            .feed-player div:nth-child(2) p {
                                                                                /* Empty */
                                                                            }
                                                                                .feed-player div:nth-child(2) p:nth-child(1) {
                                                                                    /* Empty */
                                                                                }
                                                                                .feed-player div:nth-child(2) p:nth-child(2) {
                                                                                    /* Empty */
                                                                                } 
                                                                            .feed-player div:nth-child(2) > p {
                                                                                /* Empty */
                                                                            }

                                                            /* Changelog */
                                                            .feed-change {
                                                                /* Empty */
                                                            }
                                                                .feed-change div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-change div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-change div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-change div:nth-child(2) iframe {
                                                                            /* Empty */
                                                                        }

                                                            /* App */
                                                            .feed-app {
                                                                /* Empty */
                                                            }
                                                                .feed-app div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-app div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-app div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-app div:nth-child(2) img {
                                                                            width: 100%;    
                                                                            margin: 0em;
                                                                            margin-top: 1em;
                                                                        }

                                    /* -- Footer -- */
                                    #foti {
                                        /* Empty */
                                    }
                                        #foti div {
                                            font-size: 3vh;
                                            color: grey;
                                            font-family: 'Ubuntu';
                                            text-align: center;
                                        }
                                            #foti div:nth-child(1) {
                                                /* Empty */
                                            }
                                            #foti div:nth-child(2) {
                                                /* Empty */
                                            }
                                                #foti div p {
                                                    padding-top: 2%;
                                                    padding-bottom: 2%;
                                                }
                                                    #foti div p a {
                                                        font-family: 'Pacifico';
                                                        font-size: 2vh;
                                                        color: grey;
                                                    }
                                                    #foti div p a:hover {
                                                        color: maroon;
                                                    }
                                                #foti div:nth-child(1) {
                                                    /* Empty */
                                                }
                                                #foti div:nth-child(2) {
                                                    /* Empty */
                                                }