* {
}

    body {
        padding: 0;
        margin: 0;
        
        background-color: #171717;
    }

        div {
        }

            p {
            }

            a {
                text-decoration: none;
            }

                                                    

                                                

                                

                                    /* -- Navigation -- */
                                    #navi {
                                        background-color: black;
                                        z-index: 1;
                                    }
                                        #navi:nth-child(1) {
                                            width: 100%;
                                            position: fixed;
                                        }  
                                        #navi:nth-child(2) {
                                            visibility: hidden;
                                        }
                                        /* Split */
                                        #navi img {
                                            /* Empty */
                                        }
                                            #navi img:nth-child(1) {
                                                /* Empty */
                                            }
                                            #navi img:nth-child(2) {
                                                /* Empty */
                                            }
                                        #navi p {
                                            font-family: 'Ubuntu';
                                            color: white;
                                        }

                                    /* -- Slideshow -- */
                                    #slidey {
                                        color: white;
                                        font-family: 'Ubuntu';
                                        text-align: center;
                                        background-image: url('../insig/mon-s.jpg');
                                        background-size: cover;
                                        height: 100vh;
                                        overflow: auto;
                                    }
                                        #slidey p {
                                            text-shadow: 2px 2px black;
                                        }
                                            #slidey p:nth-child(1) {
                                                font-weight: bold;
                                                margin-top: 28vh;
                                            }
                                            #slidey p:nth-child(2) {
                                                margin-top: -2vh;
                                            }
                                        #slidey button {
                                            margin-top: 8vh;
                                            background-color: transparent;
                                            border: 3px solid white;
                                            border-radius: 5px;
                                            color: white;
                                            text-shadow: 2px 2px grey;
                                            box-shadow: 1px 1px 1px 1px grey;
                                            transition: all 0.2s ease;
                                        }
                                        #slidey button:hover {
                                            color: black;
                                            background-color: white;
                                            cursor: pointer;
                                            box-shadow: 1px 1px 1px 1px transparent;
                                            text-shadow: 0px 0px black;
                                            transition: all 0.2s ease;
                                        }

                                    /* -- Login -- */
                                    #weap {
                                        overflow: auto;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        display: -webkit-flex;
                                        -webkit-flex-wrap: wrap; 
                                        -webkit-justify-content: center;
                                        border-top: 4px solid black;
                                        border-bottom: 5px solid black;
                                        border-left: 0px solid transparent;
                                        border-right: 0px solid transparent;
                                    }
                                        #weap img {
                                            /* Empty */
                                        }
                                        #weap form {
                                            color: white;
                                        } 
                                            #weap form input {
                                                background-color: transparent;
                                                color: white;
                                                font-family: 'Ubuntu';
                                            }
                                                #weap form input:nth-child(1) {
                                                    border: 2px solid white;
                                                    border-top: 0px solid transparent;
                                                    border-left: 0px solid transparent;
                                                    border-right: 0px solid transparent;
                                                }
                                                #weap form input:nth-child(3) {
                                                    border: 2px solid white;
                                                    border-top: 0px solid transparent;
                                                    border-left: 0px solid transparent;
                                                    border-right: 0px solid transparent;
                                                }
                                                #weap form input:nth-child(5) {
                                                    border-bottom: 3px solid white;
                                                    border-top: 1px solid white;
                                                    border-left: 1px solid white;
                                                    border-right: 1px solid white;
                                                    color: white;
                                                    transition: all 0.2s ease;
                                                }
                                                #weap form input:nth-child(5):hover {
                                                    transition: all 0.2s ease;
                                                    background-color: white;
                                                    color: black;
                                                    cursor: pointer;
                                                }
                                        #weap form br {
                                            /* Empty */
                                        }

                                    /* Feed */
                                    #feed {
                                        margin: 6%;
                                    }
                                        #feed div {
                                            /* Empty */
                                        }
                                            #feed div:nth-child(1) {
                                                /* Empty */
                                            }
                                            #feed div:nth-child(2) {
                                                /* Empty */
                                            }
                                                #feed-box {
                                                    /* Empty */
                                                }
                                                    #feed-box div {
                                                        /* Empty */
                                                    }
                                                        #feed-box div div {
                                                            width: 100%;
                                                            color: white;
                                                            font-family: 'Ubuntu';
                                                        }
                                                            #feed-box div div div {
                                                                /* Empty */
                                                            }
                                                                #feed-title {
                                                                    /* Empty */
                                                                }
                                                                    #feed-title p {
                                                                        border-bottom: 3px solid white;
                                                                        padding-left: 0.5em;
                                                                        padding-bottom: 0.5em;
                                                                        font-size: 3vh;
                                                                        margin-bottom: 0;
                                                                    }
                                                                        .column {
                                                                            padding: 2%;
                                                                        }

                                                            
                                                            /* News */
                                                            .feed-news {
                                                                /* Empty */
                                                            }
                                                                .feed-news div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-news div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-news div:nth-child(1) p {
                                                                            /* Empty */
                                                                        }
                                                                    .feed-news div:nth-child(2) {
                                                                        background-image: url('../news/mon-GTAMIcro.jpg');
                                                                        background-size: cover;
                                                                        padding-top: 15%;
                                                                    }
                                                                        .feed-news div:nth-child(2) p {
                                                                            border-radius: 5px;
                                                                            color: white;
                                                                            float: left;
                                                                            padding: 0.5%;
                                                                            padding-left: 0;
                                                                            padding-right: 0;
                                                                            max-width: 89%;
                                                                            font-weight: bold;
                                                                            text-shadow: 2px 2px black;
                                                                        }
                                                                            .feed-news div:nth-child(2) p:nth-child(1) {
                                                                                font-size: 3vh;
                                                                                margin-left: 2em;
                                                                            }
                                                                            .feed-news div:nth-child(2) p:nth-child(2) {
                                                                                font-size: 2.5vh;
                                                                                margin-top: -1em;
                                                                                margin-left: 2.4em;
                                                                            }

                                                            /* Leaderboard */
                                                            .feed-leader {
                                                                margin-top: 5em;
                                                            }
                                                                .feed-leader div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-leader div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-leader div:nth-child(1) p {
                                                                            /* Empty */
                                                                        }
                                                                    .feed-leader div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-leader div:nth-child(2) button {
                                                                            width: 100%;
                                                                            font-family: 'Ubuntu';
                                                                            background-color: transparent;
                                                                            border-bottom: 4px solid white;
                                                                            color: white;
                                                                            background-size: cover;
                                                                            transition: all 0.2s ease;
                                                                            text-shadow: 2px 2px black;
                                                                            font-size: 3vh;
                                                                            padding: 2em;
                                                                            margin-top: 1em;
                                                                        }
                                                                        .feed-leader div:nth-child(2) button:hover {
                                                                            opacity: 1;
                                                                        }
                                                                            .feed-leader div:nth-child(2) button:nth-child(1) {
                                                                                background-image: url('../games/justcause2.png');
                                                                            }
                                                                            .feed-leader div:nth-child(2) button:nth-child(2) {
                                                                                background-image: url('../games/grandtheftauto5.png');
                                                                            }
                                                                            .feed-leader div:nth-child(2) button:nth-child(3) {
                                                                                background-image: url('../games/payday2.png');
                                                                            }

                                                            /* Giveaways */
                                                            .feed-give {
                                                                margin-top: 5em;
                                                            }
                                                                .feed-give div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-give div div {
                                                                        border-bottom: 4px solid white;
                                                                        background-size: cover;
                                                                        margin-top: 2em;
                                                                        width: 100%;
                                                                        padding-top: 2em;
                                                                        padding-bottom: 2em;
                                                                    }
                                                                        .feed-give div div:nth-child(1) {
                                                                            background-image: url('../games/limbo.png');
                                                                        }
                                                                        .feed-give div div:nth-child(2) {
                                                                            background-image: url('../games/farcry3.jpg');
                                                                        }
                                                                            .feed-give div div p {
                                                                                font-size: 2.5vh;
                                                                                text-shadow: 1px 1px black;
                                                                            }
                                                                                .feed-give div div p:nth-child(1) {
                                                                                    text-align: left;
                                                                                    margin-left: 0.6em;
                                                                                    margin-top: -0.2em;
                                                                                    font-size: 7vh;
                                                                                }
                                                                                .feed-give div div p:nth-child(2) {
                                                                                    text-align: left;
                                                                                    margin-left: 2em;
                                                                                    margin-top: -3em;
                                                                                }
                                                                                .feed-give div div p:nth-child(3) {
                                                                                    text-align: right;
                                                                                    margin-right: 2em;
                                                                                }

                                                            /* Players of the Week */
                                                            .feed-player {
                                                                /* Empty */
                                                            }
                                                                .feed-player div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-player div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-player div:nth-child(2) {
                                                                        overflow: auto;
                                                                        display: flex;
                                                                        flex-wrap: wrap;
                                                                        justify-content: center;
                                                                        display: -webkit-flex;
                                                                        -webkit-flex-wrap: wrap;
                                                                        -webkit-justify-content: center;
                                                                        background-image: url('../insig/mon-g.jpg');
                                                                        background-size: cover;
                                                                        border-bottom: 3px solid white;
                                                                    }
                                                                        .feed-player div:nth-child(2) button {
                                                                            margin: 0.5em;
                                                                            background-color: transparent;
                                                                            color: white;
                                                                            font-size: 2.5vh;
                                                                            border: 0;
                                                                            margin-top: 1em;
                                                                            padding: 1.5em;
                                                                            border-bottom: 3px solid transparent;
                                                                            border-top: 1px solid transparent;
                                                                            border-left: 1px solid transparent;
                                                                            border-right: 1px solid transparent;
                                                                            transition: all 0.2s ease;
                                                                        }
                                                                        .feed-player div:nth-child(2) button:hover {
                                                                            border-bottom: 3px solid white;
                                                                            border-top: 1px solid white;
                                                                            border-left: 1px solid white;
                                                                            border-right: 1px solid white;
                                                                            transition: all 0.2s ease;
                                                                        }
                                                                            .feed-player div:nth-child(2) button img {
                                                                                border-radius: 50%;
                                                                                border: 3px solid white;
                                                                                height: 8em;
                                                                            }
                                                                            .feed-player div:nth-child(2) p {
                                                                                font-size: 2.5vh;
                                                                            }
                                                                                .feed-player div:nth-child(2) p:nth-child(1) {
                                                                                    font-weight: bold;
                                                                                }
                                                                                .feed-player div:nth-child(2) p:nth-child(2) {
                                                                                    /* Empty */
                                                                                }  
                                                                            .feed-player div:nth-child(2) > p {
                                                                                padding: 1em;
                                                                                padding-top: 0;
                                                                                padding-bottom: 0;
                                                                            }

                                                            /* Changelog */
                                                            .feed-change {
                                                                margin-top: 5em;
                                                            }
                                                                .feed-change div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-change div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-change div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-change div:nth-child(2) iframe {
                                                                            width: 100%;
                                                                            height: 40em;
                                                                            border-top: 0px solid transparent;
                                                                            border-left: 1px solid white;
                                                                            border-right: 1px solid white;
                                                                            border-bottom: 3px solid white;
                                                                        }

                                                            /* App */
                                                            .feed-app {
                                                                margin-top: 5em;
                                                            }
                                                                .feed-app div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-app div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-app div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-app div:nth-child(2) img {
                                                                            /* Empty */
                                                                        }


                                    /* -- Footer -- */
                                    #foti {
                                        /* Empty */
                                    }
                                        #foti div {
                                            font-size: 3vh;
                                            color: grey;
                                            font-family: 'Ubuntu';
                                        }
                                            #foti div:nth-child(1) {
                                                /* Empty */
                                            }
                                            #foti div:nth-child(2) {
                                                /* Empty */
                                            }
                                                #foti div p {
                                                    padding-top: 2%;
                                                    padding-bottom: 2%;
                                                }
                                                    #foti div p a {
                                                        font-family: 'Pacifico';
                                                        font-size: 2vh;
                                                        color: grey;
                                                    }
                                                    #foti div p a:hover {
                                                        color: maroon;
                                                    }
                                                #foti div:nth-child(1) {
                                                    /* Empty */
                                                }
                                                #foti div:nth-child(2) {
                                                    /* Empty */
                                                }