<!DOCTYPE HTML>
<html lang="en-GB">
<head>
  <!-- METADATA
  -->
  <title>Moonsquads - {{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/Resources/favicon.png"/>
  <!-- CORE CSS
  -->
  <link rel="stylesheet" href="/generic.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/games.css">
  <style>
  .news {
    border-radius: 5px;
    margin: 10px;
    float: left;
    padding: 90px;
    transition: opacity 0.2s ease;
    text-align: left;
    color: white;
    background: url('Resources/texture.png');
  } 
  .navigation-button{
    float:left;
  }
  </style>
  <!-- GOOGLE FONTS
  -->
  <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Navigation -->
	<div id="navigation" align="center">
		<!-- Logo -->
		<div class="navigation-logo">
			<a href="#">
				<img src="Resources/logo.png" />
			</a>
		</div>
		<!-- Title -->
		<div class="navigation-title">
			<a href="#">
				<p>Moonsquads</p>
			</a>
		</div>
		<!-- Dropdown 
		<div class="navigation-dropdown">
			<select onchange="this.options[this,selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	  		<option value="moonsquads-content-home.html"><span class="navigation-dropdown-option">Home</span></option>
		  	<option value="moonsquads-content-games.html">Games</option>
				<option value="moonsquads-content-members.html">Members</option>
				<option value="moonsquads-content-connect.html">Connect</option>
			</select>
		</div>
		-->
		<div class="navigation-button">
			<a href="http://moonsquads.herokuapp.com/auth/steam">
		  	<button>Join Moonsquads</button>
			</a>
		</div>
	</div>
	<div id="content" align="center">
		<div id="content-box">
	  	{{ content }}
		</div>		
	</div>
</body>
</html>
